/* src/index.css */
@import url('href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-green: #36533c;
  --light-cream: #f5f3f0;
  --dark-text: #1a1a1a;
  --light-text: #888;
  --border-color: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--light-cream);
  color: var(--dark-text);
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}